{% extends 'base.html.twig' %}

{% block title %}
	AHMED ELSAYED - Web Developer
{% endblock %}

{% block body %}
	<!-- start main content -->

	<div
		class="container-fluid vh-100">
		<!--start header -->
		<div class="logo">AHMED ELSAYED</div>
		<!--end header -->

		<!--start main div -->
		<div class="main-content">
			<h1 class="main-text">Freelance web developer</h1>
			<div class="bottom-section">
				<p>
					Web Presence, eCommerce, Travel Technology, NGO, eLearning,eGoverment
				</p>
				<a class="button btn btn-light btn-outline-dark" href="https://wa.me/+201205285102" target="_blank">Start project</a>
			</div>
			<!-- .bottom-section -->
		</div>
		<!--end main div -->
	</div>
	<!-- end main content -->

	<!--Start Messenger Chat Plugin Code -->
	<div id="fb-root"></div>

	<!-- Your Chat Plugin code -->
	<div id="fb-customer-chat" class="fb-customerchat"></div>
{% endblock %}
