<!-- wp:template-part {"slug":"alex-3","tagName":"header"} /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%"} -->
<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:html -->
<h2 style="
    font-size: 92px;
    width: 83%;
    position: initial;
    margin-left: 172px;
    text-align: right;
    font-family: sans-serif;
">Freelance web developer</h2>
<!-- /wp:html -->

<!-- wp:spacer {"height":"50px"} -->
<div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:html -->
<p style="    text-align: right;
    font-size: 15px;
    font-family: sans-serif;">Web Presence, eCommerce, Travel Technology, NGO, eLearning, eGoverment</p>
<!-- /wp:html -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"right"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"background","textColor":"foreground","style":{"spacing":{"padding":{"top":"4px","right":"11px","bottom":"4px","left":"11px"}}},"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link has-foreground-color has-background-background-color has-text-color has-background" href="https://wa.me/+201004006332" style="padding-top:4px;padding-right:11px;padding-bottom:4px;padding-left:11px">Start Project</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->